import /init.recovery.qcom_decrypt.rc

on fs && property:ro.build.system_root_image=true
    # Pie (SAR) update ONLY
    export ANDROID_ROOT /system_root
    export LD_CONFIG_FILE /sbin/ld.config.txt

on fs
    wait /dev/block/platform/${ro.boot.bootdevice}
    symlink /dev/block/platform/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start choice_fn
    start chargeled

on property:ro.bootmode=offmode_charging
    stop recovery
    start offmode_charging

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service choice_fn /sbin/choice_fn
    oneshot
    seclabel u:r:recovery:s0

service detect_key /sbin/detect_key
    disabled
    oneshot
    seclabel u:r:healthd:s0

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0
